
.home-container{
  max-width: 1100px;
  display: flex;
  justify-content: space-around;
  margin: auto;
  align-items: flex-start;
  .home-left ,.home-right{
    min-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 30px;


    .bp3-popover-wrapper, .bp3-popover-target {
      .bp3-button {
        width: 100%;
        justify-content: space-between;
        display: flex;
      }

      width: 100%
    }

    .bp3-popover-wrapper {
      margin: 0 0 20px 0;
    }
    .bp3-form-group {
      width: 100%
    }

    .bp3-input-group {
      width: 94%;
    }

    .bp3-menu {
      max-height: 400px;
      overflow-y: auto;
    }

    .result-container {

    }

    .add-token {
      margin: 10px 0;
    }
  }


}
